.page-container {
  max-width: 960px;
  margin: 1rem;
}

.field-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.form-field {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 40px;
}

textarea {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 120px;
}